body {
  font-family: Montserrat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 1px;
}

/* Adım 3: Kodları buraya yazınız */
.container {
  width: 750px;
  margin: 0 auto;
}

header nav a {
  text-decoration: none;
  color: gray;
  padding: 20px 10px;
}

img {
  width: 200px;
}
